body {
	font-family: monospace;
	font-style: oblique;
}
.area {
	vertical-align: top;
	border: solid 1px black;
	border-radius: 10px;
	width: 200px;
}
.heading {
	font-size: 18pt;
	padding: 5px 5px 5px 5px;
}
.label {
	padding: 5px 5px 5px 5px;
	letter-spacing: 1px;
}
.description {
	margin: 5px 5px 5px 5px;
	width: 92%;
}
.input{
	margin: 5px 5px 5px 5px;
	width: 92%;
}
.button {
	padding: 5px 5px 5px 5px;
}
.remaining-second {
	padding: 5px 5px 5px 5px;
	font-size: 28pt;
	font-weight: bold;
	color: red;
}
.alert {
	animation: blinker-one 1s linear infinite;
	color: red
}
@keyframes blinker-one {  
 0% { opacity: 0; }
}
#myDiagramDiv {
	border: solid 1px black; 
	border-radius: 10px;
	width: 600px;
	height: 400px;
}